<table border="1">  
  <thead>
    <tr>
      <th>
          Product Code
        </th>
        <th>
            Product Title
          </th>
          <th>
              Product Description
            </th>  
            <th>
                Rate
              </th>
              <th>
                  Quanity
                </th>
                <th>
                    Action
                  </th>
     </tr> 
  </thead>
  <tbody>
      <tr *ngFor = "let item of cart_items; let i=index" >
        <td>
            {{item.item_no}}
          </td>  
          <td>
              {{item.item_name}}
            </td>
            <td>
                {{item.item_description}}
              </td>  
              <td>
                  {{item.item_rate|currency}}
                </td>
                <td>
                    <input type="number" min=1 max="{{item.item_quantity}}" value="1">
                  </td>  
                  <td>
                    <button type="button" (click)="deleteFromCart(item.item_no)">Delete</button>
                  </td>  
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <td colspan="3">{{total|currency}}</td>
      </tr>  
    </tfoot>  
</table>  
